<?php include('header.html');?>

<p>文章列表</p>
<table stype="border-collapse:collapse;" border="1px" bordercolor="#666666" cellspacing="0px" width="960px" height="800px" >
    <tr><td>编号</td><td>作者</td><td>标题</td><td>内容</td><td>状态</td><td>创建时间</td><td>操作</td></tr>
    <?php foreach($article_list as $row) {?>
    <tr>
        <td><?php echo $row['id'];?></td>
        <td><?php echo $row['author'];?></td>
        <td><?php echo $row['title'];?></td>
        <td><?php echo $row['content'];?></td>
        <td><?php echo $row['statusCn'];?></td>
        <td><?php echo $row['date'];?></td>
        <td><a href="/admin/article/edit/<?php echo $row['id']?>/">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/article/delete/<?php echo $row['id']?>">删除</a></td>
    </tr>
    <?php }?>
</table>
<?php echo $page_string;?>
<br>
<?php include('footer.html');?>
